.qsheading {
    font-family: Impact,'Arial Black', sans-serif;
    font-style: italic;
    font-size: 3.0em;
    text-shadow: 4px 4px 2px lightgray;
    padding: 10px;
    color: white;
    background-image: url("StarfieldSimulation.gif"); 
    /* from https://commons.wikimedia.org/wiki/File:StarfieldSimulation.gif */
    background-color: black;
    height: 100px; /* You must set a specified height */
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
}

body {
    background-color: darkolivegreen;
}

.about_text {
    font-size: 1.25em; 

}

.centered {
    text-align: center;
}

.quotation {
    padding: 15px 15px;
    background-color: white;
    font-size: 1.5em;
}

.attribution {
    font-size: 1.5em;
    font-style: italic; 
}

.footer_link {
    color: goldenrod;
}


.btn_small {
    line-height: 22px;
    height: 22px;
    width: 75px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.collapsible-header, .collapsible-body {
    background-color: whitesmoke;
}
 