{% extends 'base.html'%}

{% block content %}
<h3><i class="material-icons large amber">format_quote</i>&nbsp;&nbsp;About Quotations.Space!</h3>
<div style="font-size: 1.5em; margin-top: 5px; "> 
    <p>This site started out as a class project for a full stack development course I was taking.  I often use a "quotation database" to learn software development on a new system.
    I've done so for years on everything from a DEC OpenVMS VAX minicomputer as a DCL command line tool, to Visual Basic 6 and VB.NET/Visual Studio desktop app to a web
    application written using Java Server Pages and the Eclipse IDE.</p>
    <p>This particular incarnation was written using the GitPod IDE tied to GitHub, and written in Python3 using the Flask and Materialize frameworks, and 
    using MongoDB (and PyMongo) for the web application and database. Plus a bit o' JavaScript and jQuery. </p>
    <p>To find out more about me and my experience, visit <a href="http://www.williambdavisjr.com/">my web site</a></p>    
</div>

{% endblock %}
