{% extends 'base.html'%}

{% block content %}
<h3>
    <i class="material-icons large amber">format_quote</i>
    &nbsp;&nbsp;About Quotations.Space!
</h3>
<div style="about_text"> 
    <p>This web site started out as a class project for the <a class="about_anchor" href="https://codeinstitute.net/">Code Institute</a> full-stack Web development course I was taking
    to refresh my web development skills to use more modern technology instead of the Java Server Pages (JSP) I had been using.
    </p>
    <p>I often use a "quotation database" to learn software development skill on a new system. I've done so for years on everything from a DEC OpenVMS VAX 
    minicomputer as a DCL command line tool, to Visual Basic 6 and VB.NET/Visual Studio desktop apps for Windows, to a Java desktop application (jar) for 
    Windows and MacOS, to a web application written using Java Server Pages and the Eclipse IDE.
    </p>
    <p>So it was natural to do that again for one of the coding projects in this course when we started working with databases. 
    This particular incarnation was written using the 
    <a class="about_anchor" href="https://www.gitpod.io/">GitPod</a> IDE tied to 
    <a class="about_anchor" href="https://www.github.com">GitHub</a>, and written in 
    <a class="about_anchor" href="https://www.python.org/">Python</a> 3 using the 
    <a class="about_anchor" href="https://palletsprojects.com/p/flask/">Flask</a> and 
    <a class="about_anchor" href="https://materializecss.com/">Materialize CSS</a> frameworks, and using 
    <a class="about_anchor" href="https://www.mongodb.com">MongoDB</a> (and 
    <a class="about_anchor" href="https://pypi.org/project/pymongo/">PyMongo</a>) for the web application  and database. Plus a bit o' JavaScript and 
    <a class="about_anchor" href="https://jquery.com/">jQuery</a>. 
    </p>
    <p>It's hosted on <a class="about_anchor" href="https://www.heroku.com/">Heroku</a> at present.
    </p>
    <p>To find out more about me and my professional experience, 
    visit <a class="footer_link" href="http://www.williambdavisjr.com/">my web site</a>.
    </p>    
</div>

{% endblock %}
