{% extends 'base.html' %} {% block content %}
<script src="{{url_for('static', filename='js/quote_field_validation.js')}}"></script>
<h5 class="center">Add Quote</h5>
<div class="row">
    <form id="quotesform" name="quotesform" action="{{ url_for('insert_quote') }}"  method="POST" class="col s12">
        <div class="row">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">subject</i>
                    <select id="category_name" name="category_name">
                        <option value="" disabled selected>Choose Category</option>
                        {% for cat in categories %}
                            <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                        {% endfor %}
                    </select>
                    <label class="black-text" for="category_name" >Quote Category</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">format_quote</i>
                    <textarea id="quotation_text" name="quotation_text" class="materialize-textarea"></textarea>
                    <label class="black-text" for="quotation_text">Quote Text</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">person</i>
                <input name="person" id="person" type="text">
                <label class="black-text" for="person">Person</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">import_contacts</i>
                <input name="source" id="source" type="text">
                <label class="black-text" for="source">Source</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12" id="matfix">
                <i class="material-icons prefix">today</i>
                <input id="date_said" name="date_said" type="text" class="datepicker">
                <label class="black-text" for="date_said">Date Said</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix amber-text darken-5">star</i>
                <input name="stars_rating" id="stars_rating" type="number" value="0" step=".5" min="0.0" max="5.0">
                <label class="black-text" for="stars_rating">Stars</label>
            </div>
        </div>
        <div class="row">
            <div class="switch col s12">
                <i class="material-icons prefix red-text darken-5">favorite</i>
                &nbsp;&nbsp;&nbsp;Favorite
                <label class="black-text" for="is_favorite">
                    <input id="is_favorite" name="is_favorite" type="checkbox">
                    <span class="lever"></span>
                </label>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Add Quote
                <i class="material-icons right">add</i>
             </button>
            <a href="{{ url_for('get_quotes') }}" class="waves-effect waves-light btn grey">
                <i class="material-icons right">cancel</i>Cancel
            </a>
        </div>
    </form>
</div>
<!-- temporary fix for Materialize date picker-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#matfix').pickadate('picker').set('select', date_said, { format: 'dd/mm/yyyy' }).trigger('change');
    });
</script>
{% endblock %}