<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Quotations.Space</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css"/>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <header class="qsheading blue-text darken-2">
            <div class="center-align"><a href="{{url_for('get_quotes')}}" > &ldquo;Quotations.Space!&rdquo;</a></div>
        </header>
        <main>
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
            <div class="fixed-action-btn">
                <a class="btn-floating btn-large red">
                    <i class="large material-icons">more_vert</i>
                </a>
                <ul>
                    <li><a class="btn-floating brown darken-1 tooltipped" href="{{ url_for('about') }}"  data-position="left" data-tooltip="About this website "><i class="material-icons">info_outline</i></a></li>
                    <li><a class="btn-floating green darken-1 tooltipped" href="{{ url_for('get_categories') }}"  data-position="left" data-tooltip="View Categories"><i class="material-icons">subject</i></a></li>
                    <li><a class="btn-floating amber darken-1 tooltipped" href="{{ url_for('get_quotes') }}"  data-position="left" data-tooltip="View Quotes"><i class="material-icons">format_quote</i></a></li>
                    <li><a class="btn-floating purple tooltipped" href="{{url_for('add_category')}}" data-position="left" data-tooltip="Add a new category"><i class="material-icons">playlist_add</i></a></li>
                    <li><a class="btn-floating blue tooltipped"  href="{{ url_for('add_quote') }}" data-position="left" data-tooltip="Add a new quote"><i class="material-icons">add</i></a></li>
                </ul>
            </div>
        </main>
        <footer>
            <div class="row">
                <div class="col s2">&nbsp;</div>
                <div class="col s8 about_text center">
                    Copyright &copy; 2020 by <a class="footer_link" href="http://www.williambdavisjr.com/">Bill Davis</a>
                </div>
                <div class="col s2">&nbsp;</div>
            </div>
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('.collapsible').collapsible();
                $('select').material_select();
                $('.fixed-action-btn').floatingActionButton();
            })

            $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15, // Creates a dropdown of 15 years to control year,
                today: 'Today',
                clear: 'Clear',
                close: 'Ok',
                closeOnSelect: false // Close upon selecting a date,
            });

            // datepicker bug fix for Chrome
            document.getElementById("matfix").addEventListener("click", function(e) {
                  e.stopPropagation();
            });
        </script>
    </body>
</html>
