{% extends 'base.html' %} {% block content %}
<h5 class="center">Edit Quote</h5>
<div class="row">
    <form action="{{ url_for('edit_quote', quote_id=quote._id) }}" method="POST"  class="col s12">        
        <div class="row">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">poll</i>
                    <select id="category_name" name="category_name">
                        <option value="" disabled selected>Choose Category</option>
                        {% for cat in categories %}
                                {% if cat.category_name == quote.category_name%}
                                <option value="{{cat.category_name}}" selected >{{cat.category_name}}</option>
                                {% else %}
                                <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                                {% endif %}
                            {% endfor %}
                    </select>
                    <label>Quote Category</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">format_quote</i>
                    <textarea class="materialize-textarea" rows="10" id="quotation_text" name="quotation_text">{{quote.quotation_text}}"</textarea>
                    <label for="icon_prefix">Quote Text</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">person</i>
                <input name="person" id="person" type="text" value="{{quote.person}}">
                <label for="icon_telephone">Person</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">today</i>
                <!-- input id="date_said" name="date_said" type="text" class="datepicker" -->
                <input id="matfix" name="date_said" type="text" class="datepicker">
                <label for="icon_prefix">Date Said</label>
            </div>
        </div>
        <div class="row">
            <div class="switch col s12">
                <i class="material-icons prefix">favorite</i>
                <label>
                    {% if quote.is_favorite %}
                          <input id="is_favorite" name="is_favorite" type="checkbox" checked>
                    {% else %}
                         <input id="is_favorite" name="is_favorite" type="checkbox">
                    {% endif%}
                    <span class="lever"></span>
                </label>
                Favorite
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light right" type="submit" name="action">Save Quote
                <i class="material-icons right">save_alt</i>
             </button>
        </div>
    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        date_said = Date.parse('{{quote.date_said}}');
        $('#date_said').pickadate('picker').set('select', date_said, { format: 'dd/mm/yyyy' }).trigger('change');
    });
</script>
{% endblock %}
