{% extends 'base.html' %}
{% block content %}
    <hr/>
    {% for quote in quotations %}
        <h3>&ldquo;{{quote.quotation_text}}&rdquo;</h3>
        <h4 style="text-align: right; "> -- {{quote.person}}, <i>{{quote.source}}</i></h4>
        <h5>Category: {{quote.category}}</h5>
        <p>Date: {{quote.date_said}}</p>
        <p>Rating: {{quote.stars_rating}} stars</p>
        <hr/>
    {% endfor %}

    <ul class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
    </ul>
{% endblock %}
