{% extends 'base.html' %}
{% block content %}
    <div class="qssearchbox">
        <div class="row">
            <div class="col s12">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <form class="searchform" name="searchform" id="searchform" action="{{ url_for('search_quotes') }}" method="POST">
                <div class="col s1">&nbsp;</div>
                <div class="col s7">
                    <input class="qsearchfield" tabindex=1 name="searchfield" id="searchfield" type="text" style="background-color: white; color: black; " value="{{searchfield}}">
                </div>
                <div class="col s3 left">
                    <button class="btn waves-effect waves-light" tabindex=2 type="submit" name="action" id="action">Search
                        <i class="material-icons right">search</i>
                    </button>
                </div>
                <div class="col s1">&nbsp;</div>
            </form>
        </div>
    </div>
    <ul class="collapsible popout" data-collapsible="accordion">
        {% for quote in quotations %}
        <li>
            <div class="quotation white center">
                    <strong>&ldquo;{{quote.quotation_text}}&rdquo;</strong>
                <div class="right-align">
                    {% if quote.is_favorite %} 
                        <i class="material-icons pink-text small">favorite</i>
                    {% endif %}
                </div>
            </div>
            <div class="collapsible-header gray lighten-5">
                    <i class="material-icons grey-text lighten-1">menu</i>
                    <div class="right-align attribution">
                        <span>&mdash; {{quote.person}}
                        {% if quote.source %}
                            , <em>"{{quote.source}}"</em>
                        {% endif %}
                        </span>&nbsp;
                    </div>
            </div>
            <div class="collapsible-body">
                <p><strong>Category: </strong><span class="chip">{{quote.category_name}}</span></p>
                <p><strong>Date Said: </strong>
                {% if quote.date_said %} 
                    {{quote.date_said}}
                {% else %}
                    Unknown
                {% endif %}
                </p>
                <p><strong>Rating: </strong>
                    {% if quote.stars_rating %} 
                        {% set stars = quote.stars_rating|int %}
                        {% for star in range(1, stars + 1) %}
                            <i class="material-icons amber-text">star</i>
                        {% endfor %}
                        {% set remainder = (quote.stars_rating|float) - stars %}
                        {% if remainder != 0 %}
                          <i class="material-icons amber-text">star_half</i>
                        {% endif %}
                        {% set left = 5 - stars - (remainder|round(0,'ceil')|int) %}
                        {% for star in range(1,left+1) %}
                             <i class="material-icons amber-text">star_border</i>
                        {% endfor %}
                    {% else %}
                        {% for star in range (1,6) %}
                             <i class="material-icons amber-text">star_border</i>
                        {% endfor %}
                    {% endif %}
                </p>
                <p><strong>Favorite: </strong>
                    {% if quote.is_favorite %} 
                        <a href="" class="pink-text"><i class="material-icons">favorite</i></a> 
                    {% else %}
                        <a href="" class="pink-text"><i class="material-icons">favorite_outline</i></a>
                    {% endif %}
                    </p>
                <div class="right">
                    <a class="green-text" href="{{url_for('edit_quote', quote_id=quote._id)}}"><i class="material-icons">edit</i></a>
                    <a href="{{url_for('delete_quote', quote_id=quote._id)}}" onclick="Materialize.toast('Quote deleted', 900000); "
                        class="red-text darken-3"><i class="material-icons">delete</i></a>
<!-- Controls to be implemented in future version
                    <a href="" class="brown-text"><i class="material-icons">share</i></a>
                    <a href="" class="pink-text"><i class="material-icons">favorite</i></a>
                    <a href="" class="orange-text darken-5"><i class="material-icons">star</i></a>
                    <a href="" class="blue-text"><i class="material-icons">photo_size_select_actual</i></a>
-->
                </div>
                <div>&nbsp;</div>
            </div>
            <div>&nbsp;</div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
